body {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

#errorContainer{
  height: 10vh;
}

#errorBanner{
  text-align: center;
}

#alertCloseButton{
  float : right;
}

#passwordInputContainer{
  width: 90%;
}

#passwordGroup{
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

#passwordToggle{
  height: 100%;
}

#logoImage{
  height: 7vw;
  width: auto;
}

#loginLabel{
  font-size: 2vw;
  margin: 1.5vh;
  text-align: center;
}

#loginContainer{
  width: 25%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
}

#loginForm {
  /* background-color: #E8E8E8; */
  width: auto;
  margin: auto;
  text-align: center;
}

#loginSubmit{
  background: orange;
  width: 75%;
  border: 0;
  border-radius: 5px;
  margin-top: 1vh;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1.5vw;
}

.form input {
  background: white;
  width: 75%;
  border: 0;
  border-radius: 5px; /* Rounded corners.*/
  margin: 0 0 2px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.5vw;
}



.form-group{
  display: inline-block;
  width: 75%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}