extends layout
head
  script(src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js')
block bodyContent
  script(src="javascripts/analyticsScript.js")
  h1=title
  body
    .container-fluid
      .row
        .col-md-5
          canvas#totalTicketsChart