extends layout
head 
  link(href='stylesheets/open-tickets.css' rel='stylesheet')
block bodyContent
  h1= title
  p.small
    em (Choose from the options to either see current tickets, or to see the archived tickets)
  form.form-inline(method='POST')
      .form-group(style='width:40%;')
        label(for='exampleFormControlSelect1') Which type of tickets would you like to see?
        select#exampleFormControlSelect1.form-control(name='choice')
          option(value='1') View Archived Tickets
          option(value='2') View Open Tickets
      button#current.btn-primary(type='submit') Submit
  
  p#text The result is: #{sql}
  table.table
    thead
      tr
        th Ticket ID
        th Problem Description
        th Tags
        th Date of Creation
        th Notes
        th Edit Ticket?
      tbody#table
        script.
          var sql = document.getElementById('text').innerHTML.trim();
          var length = 0;
          if (sql = "Nothing to display, unfortunately!"){
            length = 1;
          }
          else{
            if (sql != undefined){
              var sqlObj = JSON.parse(sql);
              length = Object.keys(sqlObj).length;
              for (let i = 0; i < length; i++){
                let row = document.createElement('tr');

                let ticketID = document.createElement('td');
                ticketID.innerHTML = JSON.parse(sql)[i].TicketID;

                let ticketDesc = document.createElement('td');
                ticketDesc.innerHTML = sqlObj[i].TicketDescription.toString();

                let problemTag = document.createElement('td');
                problemTag.innerHTML = sqlObj[i].ProblemTag;

                let dateCreated = document.createElement('td');
                dateCreated.innerHTML = sqlObj[i].DateCreated;

                let logDesc = document.createElement('td');
                logDesc.innerHTML = sqlObj[i].LogDescription;


                row.appendChild(ticketID);
                row.appendChild(ticketDesc);
                row.appendChild(problemTag);
                row.appendChild(dateCreated);
                row.appendChild(logDesc);
                
                let tbody= document.getElementById('table');
                tbody.appendChild(row);
              }
            }
          }