html {
  background-image: url('assets/bg-export.png');
  background-size: cover;
  color: white;
}

body {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.link-style {
  color: inherit;
  text-decoration: none;
}

.list-item:hover {
  background-image: linear-gradient(to right, rgba(255,107,107,0.9), rgba(200,78,137,0.9));
}

.light-text {
  font-weight: 200;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a1929;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}